RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

#custom routes
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^signup$ signup.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^dashboard$ dash.php [NC,L]
RewriteRule ^records$ records.php [NC,L]

#includes routes
RewriteRule ^server/signup$ includes/signup.inc.php [NC,L]
RewriteRule ^server/login$ includes/login.inc.php [NC,L]
RewriteRule ^server/save-budget$ includes/save.inc.php [NC,L]