RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

#custom routes
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^signup$ signup.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^dashboard$ dash.php [NC,L]
RewriteRule ^records$ records.php [NC,L]

#includes routes
RewriteRule ^server/signup$ includes/signup.inc.php [NC,L]
RewriteRule ^server/login$ includes/login.inc.php [NC,L]
RewriteRule ^server/save-budget$ includes/save.inc.php [NC,L]

RewriteRule ^server/calculator$ includes/get-calculator-data.php [NC,L]
RewriteRule ^server/logout$ includes/logout.inc.php [NC,L]
RewriteRule ^server/reset-password$ includes/password-reset.inc.php [NC,L]
RewriteRule ^server/reset-password-new$ includes/reset-password.php [NC,L]
RewriteRule ^server/validate-email/(.*)$ includes/emailValidator.php?email=$1 [NC,L]
RewriteRule ^server/instant-transaction$ includes/quickTransact.php [NC,L]
RewriteRule ^server/transaction$ includes/make-transaction.php [NC,L]
RewriteRule ^server/admin-account-details$ includes/get-admin-account-details.php [NC,L]
RewriteRule ^server/currency-wallet-details$ includes/get-currency-wallet-details.php [NC,L]
RewriteRule ^server/currency-logo$ includes/get-currency-logo.php [NC,L]
RewriteRule ^server/upload-profile-image$ includes/upload-profile-image.inc.php [NC,L]
RewriteRule ^server/add-account$ includes/add-account-details.inc.php [NC,L]
RewriteRule ^server/delete-account$ includes/delete-account-details.inc.php [NC,L]
RewriteRule ^server/confirm-transaction$ includes/confirm-transaction.inc.php [NC,L]
RewriteRule ^server/confirm-transaction-form$ includes/partials/confirm-transaction-form.php [NC,L]
