.budget-display {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: rgba($color-dark-2, .9); 
    padding: 1.8rem;
    border-radius: $border-radius-primary;

    @include respond(500px) {
        flex-direction: column;
    }

    &__date {
        font-size: 2rem;
        margin-top: $gutter-primary;
        display: block;
        font-style: italic;
    }

    &__expenses,
    &__sales {
        flex: 1;
    }

    &__expenses {
        margin-right: $gutter-large;

        @include respond(500px) {
            margin-right: 0;
            border-bottom: 1px solid $color-dark;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        display: flex;
        font-size: 1.6rem;
        padding: 1rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid $color-white;
        }

        &--desc {
            flex: 1;
        }

        &--cost {
            margin-right: 1rem;
        }

        i {
            color: $color-danger;
            opacity: 0;
            transform: translateX(100%);
            cursor: pointer;

            transition: ease transform .3s, ease opacity .5s;
        }

        &:hover {
            i {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__save-btn {
        padding: 1rem 2.5rem;
        border-radius: $border-radius-primary;
        border: 1px solid transparent;
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-white;
        cursor: pointer;
        margin-top: $gutter-primary;
        background-color: $color-primary;
        margin-bottom: $gutter-primary;

        &:hover {
            background-color: darken($color-primary, 20%);
        }
    }
}