.form {
    background-color: $color-white;

    &__login {
        min-width: 30rem;
        max-width: 40rem;
        margin: $gutter-primary 0;
        //max-height: 50rem;
        border-radius: $border-radius-primary;
        overflow: hidden;
        padding: $gutter-primary;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__logo {
        max-width: 10rem;
    }

    &__title {
        color: $color-primary;
        text-align: center;
        font-size: 2rem;
    }

    hr {
        border: 1px solid $color-dark-2;
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    &__label {
        font-size: 1.6rem;
        margin-bottom: $gutter-small;
    }

    &__input {
        outline: none;
        padding: $gutter-small-2;
        border-radius: $border-radius-primary;
        border: 1px solid $color-primary;
        font-size: 1.4rem;
        font-family: inherit;
    }

    &__submit-btn {
        font-size: 1.4rem;
        padding: $gutter-small-2;
        border: 1px solid transparent;
        border-radius: $border-radius-primary;
        outline: none;
        background-color: $color-primary;
        display: block;
        width: 100%;
        cursor: pointer;
        margin-bottom: $gutter-small-2;

        transition: background-color ease-in-out .3s;

        &:hover {
            //border: 1px solid #000;
            color: $color-white;
        }
    }

    .notice-area {
        text-align: center;
        font-size: 1.4rem;
    }

    &__notice {
        margin-bottom: 0;
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
        font-family: inherit;
    }

    &__spinner {
        width: 1.4rem;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
// Budget form
//////////////////////////////////////////////////////////////////////////////////////////////////

.budget {
    //padding: 1rem;
    border: 1px solid lighten($color-primary, 10%);
    border-radius: $border-radius-primary;
    display: flex;
    overflow: hidden;
    background: $color-white;
    margin-top: $gutter-primary;

    @include respond(360px) {
        flex-direction: column;
        overflow: auto;
        border-radius: 0;
        border: none;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-dark-2;
    }

    &__input {
        flex: 1;
        height: 5rem;
        border: none;
        outline: none;
        padding: 0 2rem;
        font-size: 1.6rem;

        @include respond(500px) {
            padding: 0 1rem;
            height: 3.5rem;
        }

        @include respond(396px) {
            font-size: 1.4rem;
        }

        @include respond(360px) {
            padding: 1rem 2.5rem;
            border: 1px solid $color-primary;
            border-radius: $border-radius-primary;
            margin-bottom: $gutter-small-2;
        }
    }

    &__choice {
        border: none;
        border-left: 1px solid $color-primary;
        padding: 0 1rem;

        @include respond(360px) {
            padding: 1rem 2.5rem;
            border: 1px solid $color-primary;
            border-radius: $border-radius-primary;
            margin-bottom: $gutter-small-2;
        }
    }

    &__submit {
        padding: .5rem 2rem;
        border: none;
        border-left: 1px solid $color-primary;
        cursor: pointer;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: bold;
        background-color: $color-primary;
        color: $color-white;

        @include respond(500px) {
            padding: 1rem;
        }

        @include respond(360px) {
            border-radius: $border-radius-primary;
        }
    }
}