.budget-table {
    min-width: 100%;
    margin-top: 5rem;
    border-collapse: collapse;
    border: 1px solid $color-primary;
    font-size: 1.6rem;

    @include respond(700px) {
        min-width: 700px;
    }

    thead, tfoot {
        background-color: rgba($color-primary, .2);
    }

    tr, td, th {
        border: 1px solid $color-primary;
        padding: 1rem;
    }

    tbody tr:nth-child(odd) {
        background-color: lighten($color-dark-2, 3%);
    }

    tfoot {
        font-weight: bold;
    }
}