html {
    font-size: 62.5%; // 1REM
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.auth {
    background-color: $body-dark;
}

img {
    max-width: 100%;
}